DATABASE_URL="postgresql://neondb_owner:npg_o8Vm1ltidTCR@ep-noisy-pine-a1uswyny-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

## Better-auth

BETTER_AUTH_SECRET="ftaGDa3PFLtAmaY99alsHbQ7y17APkwt"
BETTER_AUTH_URL="http://localhost:3000" # Base URL of your app
NEXT_PUBLIC_API_URL="http://localhost:3000"


## Google api key
GOOGLE_GENERATIVE_AI_API_KEY="AIzaSyCeS-CXrvwn1AWt5-NFWepEwIUZ6iRtk5U"

## Sentry 

SENTRY_AUTH_TOKEN="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"

## Polar 

POLAR_ACCESS_TOKEN="polar_oat_VTKg7q8pu1U8qe329g3JTB9m1j5Qzyd1lmUWy2sHWxK"
POLAR_SUCCESS_URL="http://localhost:3000"